/*

Primary color: #e67e22
Secondary color: #ed8058

*/

/************/
/* General Styles */
/**************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
}

/*************/
/**Navigation**/
/*************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef5f1;
  padding: 0 4rem;
  height: 8rem;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  color: #555;
  font-weight: 700;
}

.logo a span {
  color: #e67e22;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #e67e22;
}

/*************/
/**Hero Section**/
/*************/

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fef5f1;
  padding: 2rem 4rem;
  height: calc(100vh - 8rem);
}

.hero-main-text {
  margin-bottom: 2rem;
  padding: 1rem;
}

.hero-main-text h1 {
  font-size: 4.8rem;
  color: rgb(26, 26, 26);
  font-weight: 600;
  margin-bottom: 2rem;
}

.hero-main-text p {
  font-size: 2rem;
}

.hero-buttons {
  margin: 1rem 0;
  padding: 1rem;
}

.hero-buttons button {
  margin-right: 2rem;
}

.btn {
  display: inline-block;
  font-weight: 700;
  border-radius: 8px;
  height: 5rem;
  font-size: 2rem;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-primary {
  background-color: #e67e22;
  color: #fff;
  border: 3px solid #e67e22;
}

.btn-secondary {
  background-color: #fff;
  border: 3px solid #fff;
}

.btn-lg {
  width: 24rem;
}

.btn-md {
  width: 20rem;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #bf6516;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fef5f1;
}

.delivered {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 1rem;
}

.deliverd-images img {
  height: 5rem;
  width: 4rem;
  margin-right: -1.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.delivered-text {
  font-size: 2rem;
  font-weight: 700;
}

.delivered-text span {
  color: #e67e22;
}

.hero-images-container {
  display: flex;
  align-items: end;
  align-self: center;
  padding: 1rem;
}

.hero-images-container img {
  border-radius: 4px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.53);
}

.first-hero-image {
  width: 40rem;
  height: 26rem;
  transform: translate3d(8rem, 2rem, 2rem);
}

.second-hero-image {
  width: 26rem;
  height: 36rem;
}

/*************/
/**Steps Section**/
/*************/

.container {
  width: 120rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.steps {
  padding: 8rem 0;
}

.subheading {
  color: #e67e22;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 1.6rem 0;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.main-heading {
  color: #333;
  font-size: 5rem;
  margin: 1.6rem 0;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.steps-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 14rem 0;
}

.steps-img-box {
  justify-self: center;
  position: relative;
}

.steps-img-box::after,
.steps-img-box::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.steps-img-box::after {
  width: 45%;
  padding: 45%;
  background-color: #faddd3;
  z-index: -1;
}

.steps-img-box::before {
  width: 60%;
  padding: 60%;
  background-color: #fce9e2;
  z-index: -2;
}

.steps-img-box img {
  height: 22rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.steps-text .number {
  color: #ddd;
  font-size: 10rem;
  margin: 1rem 0;
  letter-spacing: -5px;
}

.steps-box-heading {
  color: #333;
  font-size: 3.2rem;
  margin: 1rem 0;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.steps-body {
  color: #777;
  font-size: 2rem;
  margin: 1rem 0;
  letter-spacing: -0.5px;
}
